/* GENERAL SETTINGS */

html{
    min-width: 360px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Spectral', serif;
    text-align: left;
    line-height: 1.2;
    font-size: 1rem;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/*
svg {
    display: none;
}

*/


/* HEADER */



/* MAIN */



/* FOOTER */